$border-grey: #707070;
$bg-grey: #faf9f9;
$strong-red: #e00000;
$placeholder-grey: #a59a9a;
$blue-dabadee: #0058ae;
$filter-red: #ff0000;
$juicy-red: #fe0000;
$transparent-red: #e00000;
$info-grey: #808080;
$secondary-grey: #b4b4b4;
$ht: 10.5vh;

@font-face {
	src: url(../../fonts/acratica.OTF);
	font-family: acratica;
}

.MainWrapper {
	position: sticky;
	z-index: 1;
	width: 100%;
	height: $ht;
	background: $strong-red;
	box-shadow: 0px 10px 30px #b8121229;
	display: flex;
	justify-content: space-between;
}
.LogoWrapper {
	width: 14.5%;
	height: 0%;
	border-bottom: $ht solid white;
	border-right: 40px solid transparent;
}
.logo {
	margin-left: 15%;
	margin-top: -2%;
	transform: matrix(1, 0.07, -0.07, 1, 0, 0);
	font: bolder 5vmax acratica;
	color: $juicy-red;
	transition: 0.5s;
	border: none;
	background: transparent;
	cursor: pointer;
	&:hover {
		margin-left: 5%;
		text-shadow: 0 0 10px #e20b0bbe;
		font-size: 5.5vmax;
	}
}
.LoginBtn {
	display: block;
	width: 11.5%;
	height: 57.6%;
	background: white;
	border: none;
	border-radius: 38px;
	margin-top: 1%;
	margin-right: 2%;
	text-align: center;
	font: 2.2vmax/16px Forte;
	letter-spacing: 4px;
	cursor: pointer;
	color: $strong-red;
}
