$border-grey: #707070;
$bg-grey: #faf9f9;
$strong-red: #e00000;
$placeholder-grey: #a59a9a;
$blue-dabadee: #0058ae;
$filter-red: #ff0000;
$juicy-red: #fe0000;
$transparent-red: #e00000;
$info-grey: #808080;
$secondary-grey: #b4b4b4;

.FootWrapper{
    display: flex;
    background-color: $strong-red;
    width: 100%;
    height: 6.75vh;
}
.LogoSm{
    height: 6.7vh;
    margin-left: 1.5%;
}