.BgLogo {
	position: sticky;
	z-index: -1;
	width: 55%;
	height: 60vh;
	transform: matrix(0.62, -0.79, 0.79, 0.62, 0, 0);
	opacity: 0.54;
	filter: blur(6px);
	float: right;
	margin-top: 4%;
}
.App {
	width: 100vw;
	min-height: 93.25vh;
	overflow: hidden;
	//margin-bottom: -6.75vh;
}
